%h1 JsBegin#index
%p Find me in app/views/js_begin/index.html.haml
%table
  %thead
    %tr
      %th IMO
      %th Latitude
      %th Longitude
      %th Heading
      %th Speed
      %th Course
      %th PPS Status
  %tbody
    %tr
      %td vessel_imo
      %td vessel_latitude
      %td vessel_longitude
      %td vessel_heading
      %td vessel_speed
      %td vessel_pps_source